.button{
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.313em;
    cursor: pointer;
}