.container{
    position: relative;
    height: 500px;
    padding: 20px 10px;
    margin: 20px;
    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
}

.task__name{
    margin-top: 0;
}

.button__close{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 4px;
    color: black;
}

.button__close:hover{
    background-color: #CBCBCB;
}