.arrow{
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    text-indent: 10em;
    overflow: hidden;
    align-self: center;
    font-size: 18px;
}

.arrow_inactive{
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.arrow_active{
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
}