.App {
  background-color: #0079BF;
}

footer{
  background: #0067A3;
  display: flex;
  justify-content: space-between;
  padding: 0 21px;
}

.main{
  display: flex;
  column-gap: 24px;
  justify-content: space-around;
  padding: 20px 16px;
}

